---
- name: Restart chain worker {{ chain_worker_identifier }}
  become: true
  ansible.builtin.systemd_service:
    name: vlayer-chain-worker-{{ chain_worker_identifier }}
    state: restarted
    daemon_reload: true

- name: Restart rsyslog
  become: true
  ansible.builtin.systemd_service:
    name: rsyslog
    state: restarted
    daemon_reload: true
