[workspace]

[package]
name = "risc0_chain_guest"
version = "0.1.0"
edition = "2021"

[dependencies]
chain_guest = { path = "../../guest" }
risc0-zkvm = { version = "=1.0.5", default-features = false, features = ["std"] }
tokio = { version = "1.41.0", features = ["rt"] }
