@tailwind base;
@tailwind components;
@tailwind utilities;

.steps .step:after, .steps .step:before{
  background-color: #f4f7fb;
  color: #000;
}

.steps .step-primary + .step-primary:before, .steps .step-primary:after {
  background-color: #3d1efe;
  color: #fff;
}

.btn:disabled {
  color: #333;
}