/.github/CODEOWNERS @marekkirejczyk @vlayer-xyz/devops

# Audited files - 07 February 2025 - a76361451c47dbef25db03f61d2b0e26e0c5d940
# A list of files that went into the scope of an audit.
# Listing guest Cargo.lock's instead of root Cargo.toml to prevent unnecessary codeowner triggers.

/rust/guest_wrapper/risc0_call_guest/Cargo.lock @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_chain_guest/Cargo.lock @vlayer-xyz/protocol

/contracts/vlayer/foundry.toml @vlayer-xyz/protocol
/contracts/vlayer/src/CallAssumptions.sol @vlayer-xyz/protocol
/contracts/vlayer/src/EmailProof.sol @vlayer-xyz/protocol
/contracts/vlayer/src/PrecompilesAddresses.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Proof.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Prover.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Regex.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Repository.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Seal.sol @vlayer-xyz/protocol
/contracts/vlayer/src/TestnetStableDeployment.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Url.sol @vlayer-xyz/protocol
/contracts/vlayer/src/Verifier.sol @vlayer-xyz/protocol
/contracts/vlayer/src/WebProof.sol @vlayer-xyz/protocol
/contracts/vlayer/src/proof_verifier/ChainId.sol @vlayer-xyz/protocol
/contracts/vlayer/src/proof_verifier/Groth16ProofVerifier.sol @vlayer-xyz/protocol
/contracts/vlayer/src/proof_verifier/IProofVerifier.sol @vlayer-xyz/protocol
/contracts/vlayer/src/proof_verifier/ProofVerifierBase.sol @vlayer-xyz/protocol
/rust/block_header/Cargo.toml @vlayer-xyz/protocol
/rust/block_header/src/casting_utils.rs @vlayer-xyz/protocol
/rust/block_header/src/eth.rs @vlayer-xyz/protocol
/rust/block_header/src/forge.rs @vlayer-xyz/protocol
/rust/block_header/src/lib.rs @vlayer-xyz/protocol
/rust/chain/Cargo.toml @vlayer-xyz/protocol
/rust/chain/chain_specs.toml @vlayer-xyz/protocol
/rust/chain/src/config.rs @vlayer-xyz/protocol
/rust/chain/src/eip1559.rs @vlayer-xyz/protocol
/rust/chain/src/fork.rs @vlayer-xyz/protocol
/rust/chain/src/lib.rs @vlayer-xyz/protocol
/rust/chain/src/optimism.rs @vlayer-xyz/protocol
/rust/chain/src/spec.rs @vlayer-xyz/protocol
/rust/common/Cargo.toml @vlayer-xyz/protocol
/rust/common/src/cache.rs @vlayer-xyz/protocol
/rust/common/src/guest.rs @vlayer-xyz/protocol
/rust/common/src/hashable.rs @vlayer-xyz/protocol
/rust/common/src/lib.rs @vlayer-xyz/protocol
/rust/common/src/verifier/sealing.rs @vlayer-xyz/protocol
/rust/common/src/verifier/zk_proof.rs @vlayer-xyz/protocol
/rust/common/src/verifier.rs @vlayer-xyz/protocol
/rust/email_proof/Cargo.toml @vlayer-xyz/protocol
/rust/email_proof/src/dkim.rs @vlayer-xyz/protocol
/rust/email_proof/src/dns.rs @vlayer-xyz/protocol
/rust/email_proof/src/email/sol.rs @vlayer-xyz/protocol
/rust/email_proof/src/email.rs @vlayer-xyz/protocol
/rust/email_proof/src/email_address.rs @vlayer-xyz/protocol
/rust/email_proof/src/errors.rs @vlayer-xyz/protocol
/rust/email_proof/src/from_header.rs @vlayer-xyz/protocol
/rust/email_proof/src/lib.rs @vlayer-xyz/protocol
/rust/guest_wrapper/Cargo.toml @vlayer-xyz/protocol
/rust/guest_wrapper/build.rs @vlayer-xyz/protocol
/rust/guest_wrapper/build_utils/Cargo.toml @vlayer-xyz/protocol
/rust/guest_wrapper/build_utils/src/chain_guest_id.rs @vlayer-xyz/protocol
/rust/guest_wrapper/build_utils/src/data_layout.rs @vlayer-xyz/protocol
/rust/guest_wrapper/build_utils/src/lib.rs @vlayer-xyz/protocol
/rust/guest_wrapper/build_utils/src/risc0_builder.rs @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_call_guest/Cargo.toml @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_call_guest/build.rs @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_call_guest/src/main.rs @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_chain_guest/Cargo.toml @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_chain_guest/build.rs @vlayer-xyz/protocol
/rust/guest_wrapper/risc0_chain_guest/src/main.rs @vlayer-xyz/protocol
/rust/guest_wrapper/src/lib.rs @vlayer-xyz/protocol
/rust/mpt/Cargo.toml @vlayer-xyz/protocol
/rust/mpt/src/hash.rs @vlayer-xyz/protocol
/rust/mpt/src/key_nibbles.rs @vlayer-xyz/protocol
/rust/mpt/src/lib.rs @vlayer-xyz/protocol
/rust/mpt/src/node/constructors.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/entry.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/from_two_entries.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/insert_entry_into_branch.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/insert_entry_into_extension/from_extension_and_entry_empty_common_prefix.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/insert_entry_into_extension.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert/utils.rs @vlayer-xyz/protocol
/rust/mpt/src/node/insert.rs @vlayer-xyz/protocol
/rust/mpt/src/node/rlp.rs @vlayer-xyz/protocol
/rust/mpt/src/node/size.rs @vlayer-xyz/protocol
/rust/mpt/src/node.rs @vlayer-xyz/protocol
/rust/mpt/src/node_ref.rs @vlayer-xyz/protocol
/rust/mpt/src/path.rs @vlayer-xyz/protocol
/rust/mpt/src/trie/utils.rs @vlayer-xyz/protocol
/rust/mpt/src/trie.rs @vlayer-xyz/protocol
/rust/mpt/src/utils.rs @vlayer-xyz/protocol
/rust/services/call/common/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/common/src/helpers.rs @vlayer-xyz/protocol
/rust/services/call/common/src/lib.rs @vlayer-xyz/protocol
/rust/services/call/common/src/location.rs @vlayer-xyz/protocol
/rust/services/call/common/src/metadata.rs @vlayer-xyz/protocol
/rust/services/call/engine/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/engine/src/config.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/consts.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/db.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm/env/cached.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm/env/factory.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm/env.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm/execution_result.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm/input.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/evm.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/io.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/lib.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/sol/call_assumptions.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/sol/proof.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/sol/seal.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/sol.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/travel_call/args.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/travel_call/error.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/travel_call/evm.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/travel_call/inspector.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/travel_call.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/utils/cache.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/utils/evm_call.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/utils.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/verifier/teleport.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/verifier/time_travel.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/verifier/travel_call.rs @vlayer-xyz/protocol
/rust/services/call/engine/src/verifier.rs @vlayer-xyz/protocol
/rust/services/call/guest/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/guest/src/db/state.rs @vlayer-xyz/protocol
/rust/services/call/guest/src/db/wrap_state.rs @vlayer-xyz/protocol
/rust/services/call/guest/src/db.rs @vlayer-xyz/protocol
/rust/services/call/guest/src/guest/env.rs @vlayer-xyz/protocol
/rust/services/call/guest/src/guest.rs @vlayer-xyz/protocol
/rust/services/call/guest/src/lib.rs @vlayer-xyz/protocol
/rust/services/call/optimism/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/optimism/src/anchor_state_registry.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/cached.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/factory/cached.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/factory/http.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/factory/recording.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/factory.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/http.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client/recording.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/client.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/lib.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/types/rpc.rs @vlayer-xyz/protocol
/rust/services/call/optimism/src/types.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/precompiles/src/email_proof.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/helpers.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/json.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/lib.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/precompile.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/regex.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/url_pattern.rs @vlayer-xyz/protocol
/rust/services/call/precompiles/src/web_proof.rs @vlayer-xyz/protocol
/rust/services/call/seal/Cargo.toml @vlayer-xyz/protocol
/rust/services/call/seal/src/lib.rs @vlayer-xyz/protocol
/rust/services/chain/block_trie/Cargo.toml @vlayer-xyz/protocol
/rust/services/chain/block_trie/src/lib.rs @vlayer-xyz/protocol
/rust/services/chain/common/Cargo.toml @vlayer-xyz/protocol
/rust/services/chain/common/src/lib.rs @vlayer-xyz/protocol
/rust/services/chain/common/src/verifier.rs @vlayer-xyz/protocol
/rust/services/chain/guest/Cargo.toml @vlayer-xyz/protocol
/rust/services/chain/guest/src/lib.rs @vlayer-xyz/protocol
/rust/verifiable_dns/Cargo.toml @vlayer-xyz/protocol
/rust/verifiable_dns/src/common/record.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/common/to_payload.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/common/types.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/common.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/dns_over_https.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/lib.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/verifiable_dns.rs @vlayer-xyz/protocol
/rust/verifiable_dns/src/verifier/mod.rs @vlayer-xyz/protocol
/rust/web_proof/Cargo.toml @vlayer-xyz/protocol
/rust/web_proof/src/errors.rs @vlayer-xyz/protocol
/rust/web_proof/src/fixtures/tlsn_core_types.rs @vlayer-xyz/protocol
/rust/web_proof/src/fixtures.rs @vlayer-xyz/protocol
/rust/web_proof/src/lib.rs @vlayer-xyz/protocol
/rust/web_proof/src/redaction.rs @vlayer-xyz/protocol
/rust/web_proof/src/request_transcript.rs @vlayer-xyz/protocol
/rust/web_proof/src/response_transcript.rs @vlayer-xyz/protocol
/rust/web_proof/src/transcript_parser.rs @vlayer-xyz/protocol
/rust/web_proof/src/utils/bytes.rs @vlayer-xyz/protocol
/rust/web_proof/src/utils/json.rs @vlayer-xyz/protocol
/rust/web_proof/src/utils.rs @vlayer-xyz/protocol
/rust/web_proof/src/verifier.rs @vlayer-xyz/protocol
/rust/web_proof/src/web.rs @vlayer-xyz/protocol
/rust/web_proof/src/web_proof.rs @vlayer-xyz/protocol

# Soon to be marked as deprecated. If updates needed, shall be reflected in the vouch repository.
/packages/sdk/src/api/webProof/* @vlayer-xyz/protocol @wgromniak2 @akoszowski
/packages/sdk/src/api/lib/types/webProofProvider.ts @vlayer-xyz/protocol @wgromniak2 @akoszowski
/packages/sdk/src/api/lib/types/viem.ts @vlayer-xyz/protocol @wgromniak2 @akoszowski
/packages/web-proof-commons/* @vlayer-xyz/protocol @wgromniak2 @akoszowski
