[[chains]]
name = "mainnet"
id = 1
forks = [
  { spec = "FRONTIER", activation = { Block = 0 } },
  { spec = "HOMESTEAD", activation = { Block = 1150000 } },
  { spec = "TANGERINE", activation = { Block = 2463000 } },
  { spec = "SPURIOUS_DRAGON", activation = { Block = 2675000 } },
  { spec = "BYZANTIUM", activation = { Block = 4370000 } },
  { spec = "CONSTANTINOPLE", activation = { Block = 7280000 } },
  { spec = "PETERSBURG", activation = { Block = 7280000 } },
  { spec = "ISTANBUL", activation = { Block = 9069000 } },
  { spec = "MUIR_GLACIER", activation = { Block = 9200000 } },
  { spec = "BERLIN", activation = { Block = 12244000 } },
  { spec = "LONDON", activation = { Block = 12965000 } },
  { spec = "ARROW_GLACIER", activation = { Block = 13773000 } },
  { spec = "GRAY_GLACIER", activation = { Block = 15050000 } },
  { spec = "MERGE", activation = { Block = 15537394 } },
  { spec = "SHANGHAI", activation = { Timestamp = 1681338455 } },
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

# https://github.com/ethereum/execution-specs/tree/5e8aeb3e5b4ba6d2ff2308b1ab9625ef0c38a4f6/network-upgrades/mainnet-upgrades
[[chains]]
name = "sepolia"
id = 11155111
forks = [
  { spec = "MERGE", activation = { Block = 0 } },
  { spec = "SHANGHAI", activation = { Timestamp = 1677557088 } },
  { spec = "CANCUN", activation = { Timestamp = 1706655072 } }
]

# https://github.com/base-org/optimism/blob/f5221f4d1fae6f3da1bd4d1647e45f40e2b055c4/op-node/chaincfg/chains_test.go#L37
[[chains]]
name = "base"
id = 8453
is_optimism = true
forks = [
  { spec = "REGOLITH", activation = { Block = 0 } },
  { spec = "CANYON", activation = { Timestamp = 1704992401 } },
  { spec = "ECOTONE", activation = { Timestamp = 1710374401 } },
  { spec = "FJORD", activation = { Timestamp = 1720627201 } },
]

# https://github.com/base-org/op-geth/blob/78436b6ae2a45a9c8449a9b0c93b062a37bd20da/core/forkid/forkid_test.go#L103
[[chains]]
name = "base-sepolia"
id = 84532
is_optimism = true
forks = [
  { spec = "CANYON", activation = { Block = 0 } },
  { spec = "ECOTONE", activation = { Timestamp = 1706634000 } },
  { spec = "FJORD", activation = { Timestamp = 1715961600 } },
]

# https://docs.optimism.io/builders/node-operators/network-upgrades
[[chains]]
name = "optimism"
id = 10
is_optimism = true
forks = [
  { spec = "MERGE", activation = { Block = 0 } },
  { spec = "BEDROCK", activation = { Timestamp = 1686079703 } },
  { spec = "CANYON", activation = { Timestamp = 1704992401 } },
  { spec = "ECOTONE", activation = { Timestamp = 1710374401 } },
  { spec = "FJORD", activation = { Timestamp = 1720627201 } },
  { spec = "GRANITE", activation = { Timestamp = 1726070401 } },
]

# https://github.com/ethereum-optimism/optimism/blob/8e0b89c116d0e294d9fb6e8c60a4bc70421b57d7/op-node/chaincfg/chains_test.go#L74
[[chains]]
name = "optimism-sepolia"
id = 11155420
is_optimism = true
forks = [
  { spec = "BEDROCK", activation = { Block = 0 } },
  { spec = "CANYON", activation = { Timestamp = 1699981200 } },
  { spec = "ECOTONE", activation = { Timestamp = 1708534800 } },
  { spec = "FJORD", activation = { Timestamp = 1716998400 } },
  { spec = "GRANITE", activation = { Timestamp = 1723478400 } },
  { spec = "HOLOCENE", activation = { Timestamp = 1732633200 } },
]

# https://github.com/maticnetwork/bor/blob/16268f6608d09d5b6d0cd0e43f5ec076c3b92616/internal/cli/server/chains/mainnet.go#L11
[[chains]]
name = "polygon"
id = 137
forks = [
  { spec = "PETERSBURG", activation = { Block = 0 } },
  { spec = "ISTANBUL", activation = { Block = 3395000 } },
  { spec = "MUIR_GLACIER", activation = { Block = 3395000 } },
  { spec = "BERLIN", activation = { Block = 14750000 } },
  { spec = "LONDON", activation = { Block = 23850000 } },
  { spec = "SHANGHAI", activation = { Block = 50523000 } },
  { spec = "CANCUN", activation = { Block = 54876000 } },
]

# https://github.com/maticnetwork/bor/blob/16268f6608d09d5b6d0cd0e43f5ec076c3b92616/internal/cli/server/chains/amoy.go#L11
[[chains]]
name = "polygon-amoy"
id = 80002
forks = [
  { spec = "BERLIN", activation = { Block = 0 } },
  { spec = "SHANGHAI", activation = { Block = 73100 } },
  { spec = "CANCUN", activation = { Block = 5423600 } },
]

# Time travel is not supported for arbitrum and zksync chains

[[chains]]
name = "arbitrum-one"
id = 42161
forks = [
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

[[chains]]
name = "arbitrum-nova"
id = 42170
forks = [
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

[[chains]]
name = "arbitrum-sepolia"
id = 421614
forks = [
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

[[chains]]
name = "zksync"
id = 324
forks = [
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

[[chains]]
name = "zksync-sepolia"
id = 300
forks = [
  { spec = "CANCUN", activation = { Timestamp = 1710338135 } }
]

# https://github.com/Consensys/linea-monorepo/blob/0615fa37b9f7aa42681a54bfc881e43914d9c0a1/docker/linea-mainnet/genesis.json
[[chains]]
name = "linea"
id = 59144
forks = [
  { spec = "LONDON", activation = { Block = 0 } }
]

# https://github.com/Consensys/linea-monorepo/blob/0615fa37b9f7aa42681a54bfc881e43914d9c0a1/docker/linea-sepolia/genesis.json#L3
[[chains]]
name = "linea-sepolia"
id = 59141
forks = [
  { spec = "LONDON", activation = { Block = 0 } }
]

# unique chain id
[[chains]]
name = "local-testnet"
id = 31337
forks = [
  { spec = "CANCUN", activation = { Block = 0 } }
]

# https://github.com/worldcoin/world-id-docs/blob/524b92581b06b46dde08d7a31fc1f0c99aea180c/src/pages/world-chain/reference/node-setup.mdx#running-world-chain-mainnet
[[chains]]
name = "worldchain"
id = 480
is_optimism = true
forks = [
  { spec = "ECOTONE", activation = { Block = 0 } },
  { spec = "FJORD", activation = { Timestamp = 1721826000 } },
  { spec = "GRANITE", activation = { Timestamp = 1727780400 } },
]

# https://github.com/worldcoin/world-id-docs/blob/524b92581b06b46dde08d7a31fc1f0c99aea180c/src/pages/world-chain/reference/node-setup.mdx#running-world-chain-sepolia
[[chains]]
name = "worldchain-sepolia"
id = 4801
is_optimism = true
forks = [
  { spec = "ECOTONE", activation = { Block = 0 } },
  { spec = "FJORD", activation = { Timestamp = 1721826000 } },
  { spec = "GRANITE", activation = { Timestamp = 1727780400 } },
]
