[Unit]
Description=vlayer verifiable dns service
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=ubuntu

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=vlayer-verifiable-dns-service
SyslogFacility=local0

Environment=RUST_LOG={{ verifiable_dns_rust_log | join(',') }}
Environment=VLAYER_LOG_FORMAT=json
Environment=PATH=/home/ubuntu/.cargo/bin/:$PATH
Environment=PRIVATE_KEY_PATH=/etc/vdns/private-key.pem
ExecStart=/home/{{ ansible_user }}/.vlayer/bin/dns_server
{{- ' --listen-addr ' }}
{{- verifiable_dns_host if verifiable_dns_host is defined else '127.0.0.1' }}
{{- ':' }}
{{- verifiable_dns_port if verifiable_dns_port is defined else '3002' }}
{{- ' --jwt-public-key ' ~ vlayer_jwt_public_key_location }}

[Install]
WantedBy=multi-user.target
