# Used in playwright tests for simple-web-proof web app.
PLAYWRIGHT_TEST_X_COM_AUTH_TOKEN=""

# Bonsai
PROVING_MODE="dev"
BONSAI_API_URL=""
BONSAI_API_KEY=""


# By default, anvil is used with a well-known, built-in private key
# (defined in examples' .env.dev)

# CHAIN_NAME="opSepolia"
# EXAMPLES_TEST_PRIVATE_KEY="0x"
QUICKNODE_API_KEY=""
QUICKNODE_ENDPOINT=""


# simple-time-travel needs separate config as it runs on L1 Sepolia
# EXAMPLE=simple-time-travel
# CHAIN_NAME=sepolia
# EXAMPLES_TEST_PRIVATE_KEY="0x"
