[Unit]
Description=vlayer chain server
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=ubuntu

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=vlayer-chain-server
SyslogFacility=local0

Environment=RUST_LOG={{ chain_server_rust_log | join(',') }}
Environment=VLAYER_LOG_FORMAT=json
Environment=DB_PATH={{ chain_server_db_path }}
ExecStart=/home/{{ ansible_user }}/.vlayer/bin/chain_server --listen-addr {{ chain_server_host }}:{{ chain_server_port }}

[Install]
WantedBy=multi-user.target
