---
- name: Install Foundryup
  ansible.builtin.shell: |
    set -ueo pipefail
    curl -L https://foundry.paradigm.xyz | bash
  args:
    creates: ~/.foundry/bin/foundryup
    executable: /bin/bash

- name: Install Foundry
  ansible.builtin.shell: ~/.foundry/bin/foundryup
  args:
    executable: /bin/bash
    creates: ~/.foundry/bin/forge

- name: Install vlayerup
  ansible.builtin.shell: |
    set -ueo pipefail
    curl -SL https://install.vlayer.xyz | bash
  args:
    creates: ~/.vlayer/bin/vlayerup
    executable: /bin/bash

- name: Install log configuration
  ansible.builtin.import_tasks: logs.yml

# We're installing a most-recent nightly or stable version every time.
- name: Install chain server binary # noqa: no-changed-when
  ansible.builtin.shell: |
    export PATH="$PATH:~/.foundry/bin"
    ~/.vlayer/bin/vlayerup --channel {{ vlayer_release_channel }}
  args:
    executable: /bin/bash
  async: 600 # 10 minutes to complete
  poll: 10 # check every 10 seconds
  retries: 2
  when: not chain_server_vlayerup_executed | default(false)
- name: Mark vlayerup as executed
  ansible.builtin.set_fact:
    chain_server_vlayerup_executed: true

- name: Install service file
  become: true
  no_log: true
  ansible.builtin.template:
    src: vlayer-chain-server.service.j2
    dest: /etc/systemd/system/vlayer-chain-server.service
    mode: "644"

- name: Enable and start the vlayer service
  become: true
  no_log: true
  ansible.builtin.systemd_service:
    name: vlayer-chain-server
    enabled: true
    state: started

- name: Restart chain server
  become: true
  ansible.builtin.systemd_service:
    name: vlayer-chain-server
    state: restarted
    daemon_reload: true
