---
- name: Install Foundryup
  ansible.builtin.shell: |
    set -ueo pipefail
    curl -L https://foundry.paradigm.xyz | bash
  args:
    creates: ~/.foundry/bin/foundryup
    executable: /bin/bash
- name: Install Foundry
  ansible.builtin.shell: ~/.foundry/bin/foundryup
  args:
    executable: /bin/bash
    creates: ~/.foundry/bin/forge
