[package]
name = "call_engine"
description = "Query Ethereum state, or any other EVM-based blockchain state within the RISC Zero zkVM."
version = "0.1.0"
edition = "2021"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
alloy-primitives = { workspace = true, features = ["rlp", "serde"] }
alloy-rlp = { workspace = true }
alloy-sol-types = { workspace = true }
anyhow = { workspace = true }
derive_more = { workspace = true }
derive-new = { workspace = true }
once_cell = { workspace = true }
risc0-zkvm = { workspace = true }
revm = { workspace = true, features = ["serde", "std"] }
serde = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
mpt = { workspace = true }
serde_json = { workspace = true }
email_proof = { workspace = true }
web_proof = { workspace = true }
chain = { workspace = true }
block_header = { workspace = true }

[dev-dependencies]
alloy-trie = { workspace = true }
test-log = { workspace = true }
serde_json = { workspace = true }

[lints]
workspace = true

[package.metadata.cargo-machete]
ignored = ["risc0-zkvm"]
