[Unit]
Description=vlayer Prover service
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=ubuntu

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=vlayer
SyslogFacility=local0

Environment=RUST_LOG={{ vlayer_rust_log | join(',') }}
Environment=VLAYER_LOG_FORMAT=json
Environment=PATH=/home/ubuntu/.cargo/bin/:$PATH
{% if vlayer_bonsai_api_url is defined %}
Environment=BONSAI_API_URL={{ vlayer_bonsai_api_url }}
{% endif %}
{% if vlayer_bonsai_api_key is defined %}
Environment=BONSAI_API_KEY={{ vlayer_bonsai_api_key }}
{% endif %}
{% if vlayer_prover_gas_meter_url is defined %}
Environment=VLAYER_GAS_METER__URL={{ vlayer_prover_gas_meter_url }}
Environment=VLAYER_GAS_METER__API_KEY={{ vlayer_prover_gas_meter_api_key }}
{% endif %}
{% if vlayer_prover_host is defined %}
Environment=VLAYER_HOST={{ vlayer_prover_host }}
{% endif %}
{% if vlayer_prover_port is defined %}
Environment=VLAYER_PORT={{ vlayer_prover_port }}
{% endif %}
{% if vlayer_proof_type is defined %}
Environment=VLAYER_PROOF_MODE={{ vlayer_proof_type }}
{% endif %}
{% if vlayer_prover_chain_proof_latest_url is defined %}
Environment=VLAYER_CHAIN_CLIENT__URL={{ vlayer_prover_chain_proof_latest_url }}
{% endif %}
Environment=VLAYER_AUTH__JWT__PUBLIC_KEY={{ vlayer_jwt_public_key_location }}
Environment=VLAYER_AUTH__JWT__ALGORITHM={{ vlayer_jwt_algorithm }}
Environment='VLAYER_AUTH__JWT__CLAIMS={{ vlayer_jwt_claims | join(' ') }}'
Environment='VLAYER_RPC_URLS={{ vlayer_prover_rpc_urls | join(' ') }}'
ExecStart=/home/{{ ansible_user }}/.vlayer/bin/call_server

[Install]
WantedBy=multi-user.target
