[Unit]
Description=vlayer Prover service
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=ubuntu

StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=vlayer
SyslogFacility=local0

Environment=RUST_LOG={{ vlayer_rust_log | join(',') }}
Environment=VLAYER_LOG_FORMAT=json
Environment=PATH=/home/ubuntu/.cargo/bin/:$PATH
{% if vlayer_bonsai_api_url is defined %}
Environment='BONSAI_API_URL={{ vlayer_bonsai_api_url }}'
{% endif %}
{% if vlayer_bonsai_api_key is defined %}
Environment='BONSAI_API_KEY={{ vlayer_bonsai_api_key }}'
{% endif %}
{% if vlayer_prover_gas_meter_api_key is defined %}
Environment='GAS_METER_API_KEY={{ vlayer_prover_gas_meter_api_key }}'
{% endif %}
ExecStart=/home/{{ ansible_user }}/.vlayer/bin/call_server
{{- ' --host ' ~ vlayer_prover_host if vlayer_prover_host is defined else '' }}
{{- ' --port ' ~ vlayer_prover_port if vlayer_prover_port is defined else '' }}
{{- ' --proof ' ~ vlayer_proof_type if vlayer_proof_type is defined else '' }}
{%- for url in vlayer_prover_rpc_urls|default([]) %}
{{-  ' --rpc-url ' ~ url | trim -}}
{% endfor %}
{% if vlayer_prover_gas_meter_url is defined %}
{{- ' --gas-meter-url ' ~ vlayer_prover_gas_meter_url }}
{% endif %}
{% if vlayer_prover_chain_proof_url is defined %}
{{- ' --chain-proof-url ' ~ vlayer_prover_chain_proof_url -}}
{% endif %}
{{- ' --jwt-public-key ' ~ vlayer_jwt_public_key_location }}

[Install]
WantedBy=multi-user.target
