
@font-face {
     font-family: 'Sora';
     src:  url('/fonts/Sora-Regular.ttf')
 }

body{
    overflow: hidden;
    margin: 12px
}
.radix-themes {
    --vlayer-violet: #7235E5;
    --violet: var(--vlayer-violet);
    --default-font-family: Sora;
    --heading-font-family: Sora;
    --code-font-family:  Sora;
    --strong-font-family:  Sora;
    --em-font-family: Sora;
    --quote-font-family: Sora;
}

