limit_req_zone $binary_remote_addr zone=requestlimit:10m rate={{- verifiable_dns_nginx_ip_rate_limit_per_minute }}r/m;

server {
  listen 443 ssl;
  ssl_certificate /etc/ssl/certs/dns.vlayer.xyz.pem;
  ssl_certificate_key /etc/ssl/private/dns.vlayer.xyz.key;
  location / {
    limit_req zone=requestlimit burst={{- verifiable_dns_nginx_ip_rate_limit_burst }} nodelay;
    proxy_pass http://127.0.0.1:{{- verifiable_dns_port if verifiable_dns_port is defined else '3002' }};
  }
}
