---
- name: Include nginx installation
  ansible.builtin.include_role:
    name: nginxinc.nginx
  vars:
    nginx_service_modify: true

- name: Clean the default nginx configuration
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Install vlayer certificate
  ansible.builtin.copy:
    src: dns.vlayer.xyz.pem
    dest: /etc/ssl/certs/dns.vlayer.xyz.pem
    mode: '644'
    owner: root
    group: root

- name: Install vlayer certificate key
  ansible.builtin.copy:
    src: dns.vlayer.xyz.key
    dest: /etc/ssl/private/dns.vlayer.xyz.key
    mode: '600'
    owner: root
    group: root

- name: Install vlayer verifiable dns nginx configuration
  ansible.builtin.template:
    src: verifiable_dns.conf.j2
    dest: /etc/nginx/conf.d/verifiable_dns.conf
    mode: '644'
  notify: "Reload nginx"
