# Foundry artifacts
**/broadcast/*
**/cache/*

# Dependency directories
**/node_modules/*

# Logs
**/logs/*
**/_.log
**/npm-debug.log_
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*

# dotenv environment variable files
**/.env
**/.env.*.local
**/.env.local
**/vlayer/.env.*.local