[workspace]

[package]
name = "risc0_chain_guest"
version = "0.1.0"
edition = "2021"

[dependencies]
chain_guest = { path = "../../services/chain/guest" }
risc0-zkvm = { version = "1.2.1-rc.1", default-features = false, features = ["std"] }
tokio = { version = "1.41.0", features = ["rt", "macros"] }
