.image {
  width: 4rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 0;
  width: fit-content;
  margin-left: 23px;
}

.title {
  flex: 1;
  flex-shrink: 1;
  margin-top: 0.5rem;
  max-width: 100%;
  font-weight: 600;
  color: rgba(3, 7, 18, 0.9);
  text-align: center;
}

.description {
  flex-shrink: 1;
  margin-top: 0.5rem;
  max-width: 100%;
  min-height: 40px;
  color: #6b7280;
  text-align: center; 
}

.bottomLogo {
  position: absolute;
  bottom: 15px;
}
