.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


   button{
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #915BF8 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
   }
  
button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
 button:active {
    background-color: #003f7f;
    transform: translateY(0);
  }