.mdbook-tabs {
    display: flex;
}

.mdbook-tab {
    background-color: var(--bg);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    line-height: 1.45em;
}

.mdbook-tab.active {
    background-color: var(--quote-bg);
    /* font-weight: bold; */
}

.mdbook-tab-content pre {
    margin: 0px;
}