---
- name: Install risc0 prerequisite
  ansible.builtin.import_role:
    name: risc0

- name: Install vlayerup
  ansible.builtin.shell: |
    set -ueo pipefail
    curl -SL https://install.vlayer.xyz | bash
  args:
    creates: ~/.vlayer/bin/vlayerup
    executable: /bin/bash

- name: Install log configuration
  ansible.builtin.import_tasks: logs.yml

# We're installing a most-recent nightly or stable version every time.
- name: Install chain worker binary # noqa: no-changed-when
  ansible.builtin.shell: |
    export PATH="$PATH:~/.foundry/bin"
    ~/.vlayer/bin/vlayerup --channel {{ vlayer_release_channel }}
  args:
    executable: /bin/bash
  async: 600  # 10 minutes to complete
  poll: 10  # check every 10 seconds
  retries: 2
  notify: "Restart {{ chain_worker_identifier }} chain worker"

- name: Install service file
  become: true
  no_log: true
  ansible.builtin.template:
    src: vlayer-chain-worker.service.j2
    dest: /etc/systemd/system/vlayer-chain-worker-{{ chain_worker_identifier }}.service
    mode: '644'
  notify: "Restart {{ chain_worker_identifier }} chain worker"

- name: Enable and start the vlayer service
  become: true
  no_log: true
  ansible.builtin.systemd_service:
    name: vlayer-chain-worker-{{ chain_worker_identifier }}
    enabled: true
    state: started
