[package]
name = "chain_client"
version = "0.1.0"
edition = "2021"

[dependencies]
alloy-primitives = { workspace = true }
async-trait = { workspace = true }
chain_common = { workspace = true }
futures = { workspace = true }
parking_lot = { workspace = true }
thiserror = { workspace = true }

# RPC dependencies (disabled for guest)
chain_server = { workspace = true, optional = true }
mpt = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
server_utils = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }

[dev-dependencies]
anyhow = { workspace = true }
block_trie = { workspace = true }
tokio = { workspace = true, features = ["rt", "macros"] }

[features]
rpc = ["chain_server", "mpt", "serde_json", "server_utils", "tracing"]
