RUST_LOG={{ prover_docker_rust_log | join(',') }}
{% if prover_docker_bonsai_api_url is defined %}
BONSAI_API_URL={{ prover_docker_bonsai_api_url }}
{% endif %}
{% if prover_docker_bonsai_api_key is defined %}
BONSAI_API_KEY={{ prover_docker_bonsai_api_key }}
{% endif %}
{% if prover_docker_optimism_sepolia_rollup_endpoint is defined %}
OPTIMISM_SEPOLIA_ROLLUP_ENDPOINT={{ prover_docker_optimism_sepolia_rollup_endpoint }}
{% endif %}
