limit_req_zone $binary_remote_addr zone=requestlimit:10m rate={{- prover_nginx_ip_rate_limit_per_minute }}r/m;

{% set common_location_settings %}
    limit_req zone=requestlimit burst={{- prover_nginx_ip_rate_limit_burst }} nodelay;
{%- endset %}

server {
  listen 443 ssl;
  ssl_certificate /etc/ssl/certs/prover.vlayer.xyz.pem;
  ssl_certificate_key /etc/ssl/private/prover.vlayer.xyz.key;

{% for prover_docker_container in prover_docker_containers %}
  location /{{ prover_docker_container.version }}/ {
{{ common_location_settings | safe }}
    proxy_pass http://127.0.0.1:{{ prover_docker_container.port }}/;
  }
{% endfor %}

  location /latest/ {
{{ common_location_settings | safe }}
    proxy_pass http://127.0.0.1:{{- vlayer_prover_port if vlayer_prover_port is defined else '3000' }}/;
  }

  location / {
{{ common_location_settings | safe }}
    proxy_pass http://127.0.0.1:{{- prover_nginx_default_prover_port if prover_nginx_default_prover_port is defined else '3000' }};
  }
}
