limit_req_zone $binary_remote_addr zone=requestlimit:10m rate={{- prover_nginx_ip_rate_limit_per_minute }}r/m;

server {
  listen 443 ssl;
  ssl_certificate /etc/ssl/certs/prover.vlayer.xyz.pem;
  ssl_certificate_key /etc/ssl/private/prover.vlayer.xyz.key;
  location / {
    limit_req zone=requestlimit burst={{- prover_nginx_ip_rate_limit_burst }} nodelay;
    proxy_pass http://127.0.0.1:{{- vlayer_prover_port if vlayer_prover_port is defined else '3000' }};
  }
}
