.text {
  font-style: normal;
  font-weight: 600;
}

.button {
  padding-left : 28px;
  padding-right: 28px;
  background-color: #E1D9FF;
  border-color: #7235E5;
  border-width: 2px;
  cursor: pointer;
}