.circle {
  color: var(--vlayer-violet);
  border-style: solid;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  line-height: 27px;
  border-width: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  max-height: 27px;
}

.solidCircle {
  background-color:  var(--vlayer-violet);
}

.disabled {
  color: var(--gray-8);
}

