services:
  websockify:
    image: jwnmulder/websockify
    platform: linux/amd64
    ports:
      - "55688:80"
    command: "80 demo.tink.com:443"
  notary-server:
    image: ghcr.io/tlsnotary/tlsn/notary-server:v0.1.0-alpha.7
    ports:
      - "7047:7047"
    volumes:
      - ./notary-config:/root/.notary-server/config
  # anvil:
  #   build:
  #     dockerfile: ../anvil/Dockerfile
  #   platform: linux/amd64
  #   ports:
  #     - "8545:8545"
  # vlayer:
  #   build:
  #     context: ../../
  #     dockerfile: ./docker/vlayer/Dockerfile.nightly
  #   command: "serve --proof fake --host 0.0.0.0 --rpc-url 31337:http://anvil:8545"
  #   ports:
  #     - "3000:3000"

