include:
  - ../websockify/service.yaml

services:
  notary-server:
    image: ghcr.io/tlsnotary/tlsn/notary-server:v0.1.0-alpha.8
    ports:
      - "7047:7047"
    volumes:
      - ../notary-config:/root/.notary-server/config
  json-server:
    build:
      context: ../../
      dockerfile: ./docker/json-server/Dockerfile
    ports:
      - "3011:3011"
    networks:
      default:
        aliases:
          - lotr-api.online
