services:
  wsproxy:
    image: jwnmulder/websockify
    platform: linux/amd64
    ports:
      - "3003:80"
    command: "80 lotr-api.online:3011"
  notary-server:
    image: ghcr.io/tlsnotary/tlsn/notary-server:v0.1.0-alpha.12
    ports:
      - "7047:7047"
    volumes:
      - ../notary-config:/root/.notary
    command: ["--config", "/root/.notary/config.yaml"]

  json-server:
    build:
      context: ../../
      dockerfile: ./docker/json-server/Dockerfile
    ports:
      - "3011:3011"
    networks:
      default:
        aliases:
          - lotr-api.online
