RUST_LOG={{ chain_service_docker_worker_rust_log | join(',') }}
VLAYER_LOG_FORMAT=json
DB_PATH={{ chain_service_docker_db_path }}
RPC_URL={{ worker.rpc_url }}
CHAIN_ID={{ worker.chain_id }}
PROOF_MODE={{ worker.proof_mode }}
MAX_BACK_PROPAGATION_BLOCKS={{ worker.max_back_propagation_blocks }}
MAX_HEAD_BLOCKS={{ worker.max_head_blocks }}
CONFIRMATIONS={{ worker.confirmations }}
{% if worker.bonsai_api_url is defined and worker.bonsai_api_url != '' %}
BONSAI_API_URL={{ worker.bonsai_api_url }}
{% endif %}
{% if worker.bonsai_api_key is defined and worker.bonsai_api_key != '' %}
BONSAI_API_KEY={{ worker.bonsai_api_key }}
{% endif %}
