---
- name: Include nginx installation
  ansible.builtin.include_role:
    name: nginxinc.nginx
  vars:
    nginx_service_modify: true

- name: Clean the default nginx configuration
  ansible.builtin.file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Install vlayer certificate
  ansible.builtin.copy:
    src: "{{ chain_server_nginx_ssl_certificate }}.pem"
    dest: /etc/ssl/certs/chainservice.vlayer.xyz.pem
    mode: '644'
    owner: root
    group: root

- name: Install vlayer certificate key
  ansible.builtin.copy:
    src: "{{ chain_server_nginx_ssl_certificate }}.key"
    dest: /etc/ssl/private/chainservice.vlayer.xyz.key
    mode: '600'
    owner: root
    group: root

- name: Install nginx configuration
  ansible.builtin.template:
    src: vlayer-chainservice.conf.j2
    dest: /etc/nginx/conf.d/vlayer-chainservice.conf
    mode: '644'
  notify: "Reload nginx"
