name: Book
on:
  pull_request:
    paths:
      - 'book/**'
      - '.github/workflows/**'
    branches:
      - '**'  # Run on pull requests to any branch
  push:
    paths:
      - 'book/**'
    branches:
      - main  # Run on push to main branch

defaults:
  run:
    working-directory: book

jobs:
  book:
    runs-on: aws-linux-small

    steps:
      - uses: cargo-bins/cargo-binstall@main

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: book/mdbook-bin
          key: ${{ runner.os }}-${{ runner.arch }}-mdbook-cargo-binstall

      - name: Install mdbook and its dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          MDBOOK_VERSION: 0.4.40
          MERMAID_VERSION: 0.13.0
          TABS_VERSION: 0.0.5
        run: |
          cargo binstall --root ./mdbook-bin --no-confirm \
            "mdbook@${MDBOOK_VERSION}" \
            "mdbook-mermaid@${MERMAID_VERSION}" \
            "mdbook-tabs@${TABS_VERSION}"


      - name: Build book
        run: |
          export PATH="${PATH}:$(pwd)/mdbook-bin/bin"
          mdbook build

      - name: Deploy to Vercel (production)
        if: github.ref == 'refs/heads/main'
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install -g vercel
          DEPLOYMENT_URL=$(vercel --token $VERCEL_TOKEN --prod --yes --cwd ./book --scope $VERCEL_ORG_ID | tail -1)
          echo "Book production deployment available at: $DEPLOYMENT_URL"

      - name: Deploy to Vercel (PR Preview)
        if: github.event_name == 'pull_request'
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.number }}
        run: |
          npm install -g vercel
          DEPLOYMENT_URL=$(vercel --token $VERCEL_TOKEN --yes --cwd ./book --scope $VERCEL_ORG_ID | tail -1)
          COMMENT_BODY="The preview of the vlayer book is available at: $DEPLOYMENT_URL"
          curl -s -H "Authorization: token $GITHUB_TOKEN" \
              -X POST \
              -d "{\"body\":\"$COMMENT_BODY\"}" \
              "https://api.github.com/repos/${{ github.repository }}/issues/$PR_NUMBER/comments"
