name: Build SDK
on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "book/**"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  build-sdk:
    name: Build SDK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install TypeScript prerequisites
        uses: ./.github/actions/ts-prerequisites
      - name: Run Typescript Compiler
        run: bash/tsc.sh
