name: Build Rust binaries for releasing
on:
  workflow_dispatch:
  workflow_call:
    outputs:
      vlayer_build:
        value: ${{ jobs.build-x86_64-unknown-linux-gnu-release.outputs.vlayer_build }}
  pull_request:
    paths:
      - ".github/workflows/build_rust_release.yaml"
  merge_group:
  push:
    branches:
      - main
    # Typically we run most workflows on `main` without narrowing down.
    # This workflow however is resource-heavy (includes a macOS build),
    # so we narrow it down.
    paths:
      - ".github/workflows/build_rust_release.yaml"
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  build-x86_64-unknown-linux-gnu-release:
    name: Build release for x86_64-unknown-linux-gnu
    runs-on: aws-linux-medium
    outputs:
      vlayer_build: ${{ steps.vlayer_build.outputs.vlayer_build }}
    env:
      target: x86_64-unknown-linux-gnu
      suffix: linux-amd64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        id: rust_pre
        uses: ./.github/actions/rust-prerequisites
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: "Build binaries"
        env:
          RUSTC_WRAPPER: ${{ steps.rust_pre.outputs.RUSTC_WRAPPER }}
          VLAYER_RELEASE: "nightly"
          RISC0_USE_DOCKER: 1
        run: |
          cargo build --release --target ${{ env.target }} -p cli -p call_server -p worker -p chain_server

      - name: "Print build version"
        id: vlayer_build
        env:
          VLAYER_RELEASE: "nightly"
        run: |
          BUILD=$(./target/${{ env.target }}/release/vlayer --version | awk '/vlayer/ {print $2}')
          echo "vlayer_build=${BUILD}" | tee -a ${GITHUB_OUTPUT}
      - name: Package and upload release binaries
        uses: ./.github/actions/package-release-binaries
        with:
          output_file_suffix: "${{ env.suffix }}.tar.gz"
          target: "${{ env.target }}"

  build-x86_64-unknown-linux-musl-release:
    name: Build release for x86_64-unknown-linux-musl
    runs-on: aws-linux-medium
    outputs:
      vlayer_build: ${{ steps.vlayer_build.outputs.vlayer_build }}
    env:
      target: x86_64-unknown-linux-musl
      suffix: linux-amd64-musl

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        uses: ./.github/actions/rust-prerequisites
        with:
          target: x86_64-unknown-linux-musl
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Check nixpkgs inputs
        uses: DeterminateSystems/flake-checker-action@v9
        with:
          flake-lock-path: ./.github/nix/flake.lock
          check-outdated: false
          fail-mode: true
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v15
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: "Build binaries"
        env:
          VLAYER_RELEASE: "nightly"
          RISC0_USE_DOCKER: 1
        run: |
          nix develop .github/nix/. --command bash -c "cargo build --release -p cli -p call_server -p worker -p chain_server"

      - name: "Print build version"
        id: vlayer_build
        env:
          VLAYER_RELEASE: "nightly"
        run: |
          BUILD=$(./target/${{ env.target }}/release/vlayer --version | awk '/vlayer/ {print $2}')
          echo "vlayer_build=${BUILD}" | tee -a ${GITHUB_OUTPUT}
      - name: Package and upload release binaries
        uses: ./.github/actions/package-release-binaries
        with:
          output_file_suffix: "${{ env.suffix }}.tar.gz"
          target: "${{ env.target }}"

  build-darwin-arm64-release:
    name: Build release for aarch64-apple-darwin
    runs-on: macos-14-xlarge
    outputs:
      vlayer_build: ${{ steps.vlayer_build.outputs.vlayer_build }}
    env:
      target: aarch64-apple-darwin
      suffix: darwin-arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Darwin prerequisites
        uses: ./.github/actions/darwin-prerequisites

      # Shared risc0 installation using `cache-cargo-install-action` did not work on darwin,
      # so installing separately.
      - name: Install Rust prerequisites
        uses: ./.github/actions/rust-prerequisites
        with:
          include_risc0: false
      - name: Install risc0 installer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo binstall -y cargo-risczero@1.2.0 --force
      - name: Install risc0 toolchain
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo risczero install

      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Install & run colima (docker emulator)
        run: |
          brew update
          brew install qemu
          brew install docker
          brew install docker-buildx
          mkdir -p ~/.docker/cli-plugins
          ln -sfn $(which docker-buildx) ~/.docker/cli-plugins/docker-buildx
          docker buildx install
          brew install colima
          LIMACTL_PATH=$(brew --prefix)/bin/limactl
          sudo curl -L -o $LIMACTL_PATH https://github.com/mikekazakov/lima-nohvf/raw/master/limactl && sudo chmod +x $LIMACTL_PATH
          colima start --network-address --arch arm64 --vm-type=qemu

      - name: "Build binaries"
        env:
          VLAYER_RELEASE: "nightly"
          RISC0_USE_DOCKER: 1
        run: |
          cargo build --release --target ${{ env.target }} -p cli -p call_server -p worker -p chain_server

      - name: "Print build version"
        id: vlayer_build
        env:
          VLAYER_RELEASE: "nightly"
        run: |
          BUILD=$(./target/${{ env.target }}/release/vlayer --version | awk '/vlayer/ {print $2}')
          echo "vlayer_build=${BUILD}" | tee -a ${GITHUB_OUTPUT}
      - name: Package and upload release binaries
        uses: ./.github/actions/package-release-binaries
        with:
          output_file_suffix: "${{ env.suffix }}.tar.gz"
          target: "${{ env.target }}"
