name: Deploy simple-web-proof example
on:
  workflow_run:
    workflows: ["Deploy Provers"]
    types: [completed]
  pull_request:
    paths:
      - examples/simple_web_proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
  push:
    paths:
      - examples/simple_web_proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  deploy-simple-web-proof:
    name: Deploy simple-web-proof example
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install, build and deploy example
        uses: ./.github/actions/example-deploy
        with:
          EXAMPLE_NAME: simple_web_proof
          EXAMPLES_TEST_PRIVATE_KEY: ${{ secrets.EXAMPLES_DEPLOY_PRIVATE_KEY }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_SIMPLE_WEB_PROOF_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_CONCLUSION: ${{ github.event.workflow_run.conclusion }}
