name: Deploy simple-web-proof example
on:
  workflow_run:
    workflows: ["Deploy Provers"]
    types: [completed]
  pull_request:
    paths:
      - examples/simple-web-proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
  push:
    paths:
      - examples/simple-web-proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
    branches:
      - main
concurrency:
  # Same group for all jobs using EXAMPLES_DEPLOY_PRIVATE_KEY key.
  group: examples-deployment
  cancel-in-progress: false
jobs:
  deploy-simple-web-proof:
    name: Deploy simple-web-proof example
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install, build and deploy example
        uses: ./.github/actions/example-deploy
        with:
          EXAMPLE_NAME: simple-web-proof
          EXAMPLES_TEST_PRIVATE_KEY: ${{ secrets.EXAMPLES_DEPLOY_PRIVATE_KEY }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_SIMPLE_WEB_PROOF_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JSON_RPC_URL: "https://opt-sepolia.g.alchemy.com/v2/${{ secrets.ALCHEMY_API_KEY }}"
          VLAYER_API_TOKEN: ${{ secrets.DEPLOYED_EXAMPLES_VLAYER_API_TOKEN }}
          VITE_SENTRY_DSN: "https://1afb2d9efb40a7ac94d0c8737ab8ffc4@o4508754893012992.ingest.de.sentry.io/4508760191795280"

      - name: Echo variable in a new step
        shell: bash
        run: |
          echo "The value of DEPLOYMENT_URL is: ${DEPLOYMENT_URL}"
        env:
          DEPLOYMENT_URL: ${{ env.DEPLOYMENT_URL }}

      - name: Set ENV variable and save it
        shell: bash
        run: |
          echo "DEPLOYMENT_URL=${DEPLOYMENT_URL}" > env_vars.txt
        env:
          DEPLOYMENT_URL: ${{ env.DEPLOYMENT_URL }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: env-file
          path: env_vars.txt
