name: Deploy simple-web-proof example
on:
  workflow_run:
    workflows: ["Deploy Provers"]
    types: [completed]
  pull_request:
    paths:
      - examples/simple-web-proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
      - bash/e2e-web-proof-example-test.sh
  push:
    paths:
      - examples/simple-web-proof/**
      - .github/workflows/deploy_simple_web_proof.yaml
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true
jobs:
  deploy-simple-web-proof:
    name: Deploy simple-web-proof example
    runs-on: ubuntu-24.04
    outputs:
      deployment_url: ${{ steps.deploy.outputs.deployment_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install, build and deploy example
        id: deploy
        uses: ./.github/actions/example-deploy
        with:
          example_name: simple-web-proof
          testnet_private_key_location: ${{ secrets.TESTNET_PRIVATE_KEY_LOCATION }}
          vercel_token: ${{ secrets.VERCEL_TOKEN }}
          vercel_project_id: ${{ secrets.VERCEL_SIMPLE_WEB_PROOF_PROJECT_ID }}
          vercel_org_id: ${{ secrets.VERCEL_ORG_ID }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          json_rpc_url: "https://opt-sepolia.g.alchemy.com/v2/${{ secrets.ALCHEMY_API_KEY }}"
          vlayer_api_token: ${{ secrets.DEPLOYED_EXAMPLES_VLAYER_API_TOKEN }}
          vite_sentry_dsn: "https://1afb2d9efb40a7ac94d0c8737ab8ffc4@o4508754893012992.ingest.de.sentry.io/4508760191795280"

  e2e-test-web-apps-vercel:
    name: E2E web apps test against devnet and vercel deployment
    runs-on: aws-linux-medium
    needs: [deploy-simple-web-proof]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        id: rust_pre
        uses: ./.github/actions/rust-prerequisites
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites
      - name: Install TypeScript prerequisites
        uses: ./.github/actions/ts-prerequisites

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build sdk
        working-directory: ./packages/sdk
        run: bun run build

      - name: Build sdk-hooks
        working-directory: ./packages/sdk-hooks
        run: bun run build

      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps chromium

      - name: Check clang and LLVM version
        env:
          EXPECTED_LLVM_VERSION: "18.1"
        run: bash/check-llvm-clang.sh

      - name: Install contracts' dependencies
        working-directory: ./contracts/vlayer
        run: forge soldeer install
