name: Lint

on:
  pull_request:
    paths:
      - "rust-toolchain.toml"
      - 'rust/**'
      - '.github/workflows/lint.yaml'
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  rust-lint:
    runs-on: aws-linux-small

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        uses: ./.github/actions/rust-prerequisites
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Install nightly rustfmt
        run: rustup toolchain install nightly -c rustfmt

      - name: Install cargo sort
        run: cargo install cargo-sort
          
      - name: Run Host lints
        working-directory: rust
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped --workspace
          cargo clippy --all-targets --all-features

      - name: Run Risc0 Call Guest lints
        working-directory: rust/services/call/guest_wrapper/risc0_guest
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped
          cargo clippy --all-targets --all-features
      
      - name: Run Risc0 Chain Guest lints
        working-directory: rust/services/chain/guest_wrapper/risc0_guest
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped
          cargo clippy --all-targets --all-features
