name: Lint Rust

on:
  pull_request:
    paths:
      - "rust-toolchain.toml"
      - "rust/**"
      - ".github/workflows/lint_rust.yaml"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  lint-rust:
    name: Lint Rust
    runs-on: aws-linux-medium

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        uses: ./.github/actions/rust-prerequisites
      - name: Configure sccache wrapper
        run: echo "RUSTC_WRAPPER=$(which sccache)" >> $GITHUB_ENV
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Run Host lints
        working-directory: rust
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped --workspace
          cargo clippy --all-targets --all-features --locked

      - name: Run Risc0 Call Guest lints
        working-directory: rust/services/call/guest_wrapper/risc0_guest
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped
          cargo clippy --all-targets --all-features --locked

      - name: Run Risc0 Chain Guest lints
        working-directory: rust/services/chain/guest_wrapper/risc0_guest
        env:
          RUSTFLAGS: "-Dwarnings"
        run: |
          cargo +nightly fmt --check
          cargo sort --check --grouped
          cargo clippy --all-targets --all-features --locked

      - name: Run cargo deny
        working-directory: rust/cli
        run: cargo deny check bans

      - name: Detect unused dependencies
        working-directory: rust
        run: cargo machete
