name: Check Workflows YAML Formatting
on:
  pull_request:
    paths:
      - ".github/workflows/**"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  check-yaml-formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install Prettier
        run: npm install --global prettier

      - name: Check YAML Formatting
        run: prettier --check .github/workflows/**/*.yaml
