name: Release stable
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  check-if-needs-releasing:
    if: github.repository == 'vlayer-xyz/vlayer'
    runs-on: ubuntu-latest
    outputs:
      needs_releasing: ${{ steps.compare-versions.outputs.needs_releasing }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Fetch all tags
        run: git fetch --tags --force
      - name: Check local and latest stable version tag
        id: compare-versions
        run: |
          LOCAL_VERSION="v$(grep '^version' rust/version/Cargo.toml | awk -F' = ' '{print $2}' | tr -d '"')"
          LATEST_TAG=$(git tag --sort=-creatordate | grep '^v[0-9]' | head -n 1)
          echo "Local version is '${LOCAL_VERSION}'. Latest remote tag is '${LATEST_TAG}'"
          if [ "$LOCAL_VERSION" != "$LATEST_TAG" ]; then
            echo "needs_releasing=true" >> $GITHUB_OUTPUT
          else
            echo "needs_releasing=false" >> $GITHUB_OUTPUT
          fi

  release:
    needs: [check-if-needs-releasing]
    if: needs.check-if-needs-releasing.outputs.needs_releasing == 'true'
    uses: ./.github/workflows/release.yaml
    with:
      vlayer_release: stable
    secrets: inherit
