name: E2E Web Flow Test
on:
  pull_request:
    paths:
      - "packages/**"
      - ".github/workflows/test_e2e_web_flow.yaml"
      - "docker/**"
      - "bash/playwright-test.sh"
      - "bash/run-services.sh"
  merge_group:
  push:
    # branches:
    #   - main
jobs:
  test-e2e-web-flow:
    name: E2E Web Flow Test
    timeout-minutes: 60
    runs-on: [aws-linux-medium]
    steps:
      - name: Install TypeScript prerequisites
        uses: ./.github/actions/ts-prerequisites
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build sdk
        working-directory: ./packages/sdk
        run: bun run build

      - name: Build sdk-hooks
        working-directory: ./packages/sdk-hooks
        run: bun run build

      - name: Install dependencies of test-web-app
        working-directory: ./packages/test-web-app
        run: bun install --frozen-lockfile

      - name: Build extension
        working-directory: ./packages/browser-extension
        run: bun run build

      - name: Install Playwright Browsers
        working-directory: ./packages
        run: bunx playwright install --with-deps chromium

      - name: Install Rust prerequisites
        id: rust_pre
        uses: ./.github/actions/rust-prerequisites
      - name: Reuse cargo target dir
        id: cargo_target
        uses: ./.github/actions/reuse-cargo-target
        with:
          target_name: test-e2e-web-flow

      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - uses: hoverkraft-tech/compose-action@v2.0.2
        with:
          compose-file: docker/web-proof/docker-compose-release.yaml
          up-flags: "--build"
          services: |
            websockify
            notary-server
            json-server

      - name: Build binaries
        env:
          CARGO_TARGET_DIR: ${{ steps.cargo_target.outputs.CARGO_TARGET_DIR }}
          RUSTC_WRAPPER: ${{ steps.rust_pre.outputs.RUSTC_WRAPPER }}
        run: |
          cargo build --bin vlayer --bin call_server --bin chain_server --bin worker --bin dns_server
          mkdir -p ./target/debug/
          cp ${{ steps.cargo_target.outputs.CARGO_TARGET_DIR }}/debug/{vlayer,call_server,chain_server,worker,dns_server} ./target/debug/
      - name: Run playwright tests
        env:
          VLAYER_ENV: dev
          BUILD_BINARIES: 0
        run: bash/playwright-test.sh

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./packages/playwright-report/
          retention-days: 30
