name: Test

on:
  push:
    paths:
      - "rust/**"
      - "examples/**"
      - ".github/workflows/**"
    branches:
      - "**"
  merge_group:

jobs:
  rust-test:
    runs-on: ubuntu-latest

    steps:
      - uses: cargo-bins/cargo-binstall@main

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-workspaces: rust

      - name: Install risc0 instaler
        run: cargo binstall -y cargo-risczero --force

      - name: Install risc0 toolchain
        run: cargo risczero install

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-5ac78a9cd4b94dc53d1fe5e0f42372b28b5a7559 # 2024-06-02

      - name: Start Anvil
        run: |
          anvil &
          ANVIL_SERVER_PID=$!
          echo "ANVIL_SERVER_PID=$ANVIL_SERVER_PID" >> $GITHUB_ENV

      - name: Run workspace rust tests
        working-directory: rust
        run: cargo test --workspace

      - name: Stop Anvil
        if: always()
        run: kill $ANVIL_SERVER_PID
