name: Test Release
on:
  workflow_run:
    workflows: ["Deploy Provers"]
    types: [completed]
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/test_release.yaml"
      - "docker/web-proof/docker-compose-test-release.yaml"
      - "bash/test-release.sh"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  test-release-anvil:
    name: Test release on anvil and local prover
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: hoverkraft-tech/compose-action@v2.0.2
        env:
          QUICKNODE_API_KEY: ${{ secrets.QUICKNODE_API_KEY }}
        with:
          compose-file: docker/web-proof/docker-compose-test-release.yaml
      - name: Test release
        env:
          VLAYER_ENV: dev
        run: bash/test-release.sh
  test-release-sepolia:
    name: Test release on OP Sepolia and remote prover
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Test release
        env:
          VLAYER_ENV: testnet
          EXAMPLES_TEST_PRIVATE_KEY: ${{ secrets.EXAMPLES_TEST_PRIVATE_KEY }}
          JSON_RPC_URL: "https://dry-alpha-tab.optimism-sepolia.quiknode.pro/${{ secrets.QUICKNODE_API_KEY }}"
        run: bash/test-release.sh
  test-release-js-sdk:
    name: Test JS SDK release
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: hoverkraft-tech/compose-action@v2.0.2
        with:
          compose-file: docker/web-proof/docker-compose-test-release.yaml
      - name: Test js sdk release
        run: bash/test-js-sdk-release.sh
