name: E2E Web Flow Test
on:
  pull_request:
    paths:
      - "packages/**"
      - ".github/workflows/test_e2e_web_flow.yaml"
      - "docker/**"
  merge_group:
  push:
    branches:
      - main
jobs:
  test-e2e-web-flow:
    timeout-minutes: 60
    runs-on: [aws-linux-medium]
    steps:
      - name: Install TypeScript prerequisites
        uses: ./.github/actions/ts-prerequisites
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: ./packages
      - name: Build sdk
        run: bun run build
        working-directory: ./packages/sdk
      - name: Install dependencies of test-web-app
        run: bun install --frozen-lockfile
        working-directory: ./packages/test-web-app
      - name: Build extension
        run: bun run build
        working-directory: ./packages/browser-extension
      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps chromium
        working-directory: ./packages/browser-extension
      - name: Install Rust prerequisites
        uses: ./.github/actions/rust-prerequisites
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites
      - uses: hoverkraft-tech/compose-action@v2.0.2
        with:
          compose-file: docker/web-proof/docker-compose-release.yaml
          up-flags: "--build"
          services: |
            websockify
            notary-server
            json-server
      - name: Run playwright tests
        run: bash/playwright-test.sh
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./packages/playwright-report/
          retention-days: 30
