name: Test Release
on:
  workflow_run:
    workflows: ["Deploy Provers"]
    types: [completed]
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/test_release.yaml"
      - "docker/docker-compose.devnet.yaml"
      - "bash/test-release-local-prover.sh"
      - "bash/test-release-remote-prover.sh"
      - "bash/test-js-sdk-release.sh"
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  test-release-anvil:
    name: Test release on anvil and local prover
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites
      - name: Test local prover
        run: bash/test-release-local-prover.sh
  test-release-sepolia:
    name: Test release on OP Sepolia and remote prover
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Test remote prover
        env:
          EXAMPLES_TEST_PRIVATE_KEY: ${{ secrets.EXAMPLES_TEST_RELEASE_PRIVATE_KEY }}
          JSON_RPC_URL: "https://opt-sepolia.g.alchemy.com/v2/${{ secrets.ALCHEMY_API_KEY }}"
          VLAYER_API_TOKEN: ${{ secrets.VLAYER_API_TOKEN }}
          PLAYWRIGHT_TEST_X_COM_AUTH_TOKEN: ${{ secrets.PLAYWRIGHT_TEST_X_COM_AUTH_TOKEN }}
        run: |
          bash/test-release-remote-prover.sh
          echo "TEMP_DIRS=$(tr '\n' ' ' < /tmp/temp_dirs.txt)" >> "$GITHUB_ENV"

      - name: Upload Playwright Reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: |
            $(for temp_dir in $TEMP_DIRS; do
              example=$(echo "$temp_dir" | cut -d ':' -f 1)
              report_dir="${temp_dir}/examples/${example}/vlayer/playwright-report"
              if [ -d "$report_dir" ]; then
                echo "$report_dir"
              fi
            done)
          retention-days: 30
  test-release-js-sdk:
    name: Test JS SDK release
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: hoverkraft-tech/compose-action@v2.0.2
        with:
          compose-file: docker/docker-compose.devnet.yaml
          services: |
            vlayer-call-server
      - name: Test js sdk release
        run: bash/test-js-sdk-release.sh
