name: Test contracts

on:
  pull_request:
    paths:
      - "bash/**"
      - "contracts/**"
      - "examples/**"
      - ".github/workflows/foundry.yaml"
      - ".github/workflows/test_contracts.yaml"
    branches:
      - "**"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci

jobs:
  test-contracts:
    name: Test contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Mock ImageId.sol
        run: ./bash/mock-imageid.sh

      - name: Run Forge build vlayer
        working-directory: ./contracts/vlayer
        run: |
          forge --version

          forge soldeer install
          forge build --sizes

      - name: Run Forge build fixtures
        working-directory: ./contracts/fixtures
        run: |
          forge soldeer install
          forge build --sizes

      - name: Run Forge tests
        working-directory: ./contracts/vlayer
        env:
          FOUNDRY_PROFILE: no-vlayer
        run: |
          forge test -vvv

      - name: Run Forge formatter (examples)
        run: |
          forge fmt ./examples --check

      - name: Run Forge formatter (vlayer contracts)
        working-directory: ./contracts/vlayer
        run: |

          forge fmt --check
      - name: Check release stable verifier addresses
        env:
          DRY_RUN: true
          DEPLOYER_PRIVATE_KEY: ${{ secrets.EXAMPLES_DEPLOY_PRIVATE_KEY }}
          REPOSITORY_CONTRACT_ADMIN_ADDRESS: ${{ vars.REPOSITORY_CONTRACT_ADMIN_ADDRESS }}
        run: ./bash/deploy-verifiers.sh
