name: Test vlayer

on:
  pull_request:
    paths:
      - "bash/**"
      - "contracts/**"
      - "rust-toolchain.toml"
      - "rust/**"
      - "examples/**"
      - ".github/workflows/test_vlayer.yaml"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  test-vlayer:
    name: Test vlayer
    runs-on: aws-linux-medium

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust prerequisites
        id: rust_pre
        uses: ./.github/actions/rust-prerequisites
      - name: Install contracts prerequisites
        uses: ./.github/actions/contracts-prerequisites

      - name: Run Forge build
        working-directory: ./contracts/vlayer
        run: |
          forge soldeer install
      
      - name: Run forge tests for contracts
        working-directory: ./contracts/vlayer
        env:
          FOUNDRY_PROFILE: no-vlayer
        run: forge test -vvv

      - name: Run vlayer tests for contracts
        working-directory: ./contracts/vlayer
        env:
          FOUNDRY_PROFILE: vlayer
          RUSTC_WRAPPER: ${{ steps.rust_pre.outputs.RUSTC_WRAPPER }}
        run: |
          # vlayer test
          cargo run --locked --manifest-path ../../Cargo.toml --package cli -- test -vvv

      - name: Run vlayer tests for examples
        run: bash/vlayer-test-examples.sh
