name: Test JS

on:
  pull_request:
    paths:
      - "packages/**"
      - ".github/workflows/js_test.yaml"
  merge_group:
  push:
    branches:
      - main
concurrency:
  # Do not cancel jobs on main by forcing a unique group name.
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: true

jobs:
  test-js:
    name: Test JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install TypeScript prerequisites
        uses: ./.github/actions/ts-prerequisites
      - name: Install packages
        working-directory: packages
        run: bun install --frozen-lockfile
      - name: Run JS tests
        working-directory: packages
        run: "bun --filter '*' test:unit"

