name: Lint TS examples and sdk
on: 
  pull_request:
    paths:
      - 'examples/**'
      - 'packages/**'
jobs:
  ts-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: oven-sh/setup-bun@v2      
    - uses: actions/checkout@v2
    - name: Run ESLint
      run: bash/lint-ts.sh